.summary-content {
  display: inline-flex;
  align-items: baseline;
  gap: 20px;
}

.checkerboard-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAAAAABWESUoAAAAHUlEQVQ4y2P4gQYeoAGGUQUjSgG6ALqGUQUjSgEAdjWwLh+tpFgAAAAASUVORK5CYII=");
}

.diff-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.diff-table th,
.diff-table td {
  border: 1px solid black;
}

.diff-table img {
  display: block;
  max-width: 100%;
  height: auto;
}

body.hide-no-diff .diff-details.no-diff {
  display: none;
}
